<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estiloP.css">
    <title>Compra Exitosa - TecnoMax</title>
</head>
<body>
    <main>
        <div class="checkout-success">
            <div class="success-icon">✅</div>
            <h1>¡Compra Realizada con Éxito!</h1>
            <p>Tu pedido #{{pedido_id}} ha sido registrado. Recibirás una confirmación en breve a su whatsApp.</p>
            <p>Coordinaremos la hora de entrega. ¡Que tenga buen dia! :).</p>
            <a href="/" class="btn btn-primario btn-block">Volver a Inicio</a>
        </div>
    </main>
</body>
</html>